@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap");
body {
  background: #f1f5f9;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
